
body
    padding-bottom: var(--two-units)

#site-header
    height: 100vh
    padding-top: 20vh
    text-align: center

#site-title
    text-align: center
    display: inline-block
    text-transform: uppercase
    font-weight: bold
    font-size: var(--xxxl)
    text-align: center
    line-height: 1.1
    font-family: mono-font
    font-style: italic
    color: white
    background: dark
    padding: var(--quarter-unit)
    padding-right: var(--semi-unit)

#subtitle 
    margin-top: var(--quarter-unit)
    text-align: center
    a
        text-decoration: underline
        &:hover
            color: colors[1]

#scroll
    position: absolute
    left: 0
    width: 100%
    bottom: var(--five-units)
    text-align: center
    font-style: italic

#arrow
    font-size: var(--xxl)
    text-align: center
    margin-top: 40vh
    color: colors[1]

.truth
    margin-top: var(--two-units)
    padding: var(--unit) 0
    font-size: var(--xxxxl)
    text-transform: uppercase
    line-height: 0.9
    text-align: center
    
.question
    font-weight: bold
    height: 100vh

.answer
    margin-top: var(--unit)
    font-size: var(--xxxl)
    height: 100vh
















// .h2
//     font-family: heading-font
//     font-size: var(--xl)
//     font-style: italic
//     border-bottom: 1px solid dark
//     margin-bottom: var(--semi-unit)

// .result-wrapper
//     margin-top: 20vh
//     background: dark

// .result
//     font-family: mono-font
//     text-transform: uppercase
//     color: white
//     line-height: 0.8

// .s1
//     height: 100vh

// .s1+.s1
//     margin-top: var(--two-units)



// #half
//     background: colors[1]
//     height: 100vh
//     width: 50vw
//     position: absolute
//     top: 0
//     right: 0
//     z-index:-1