article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}
a:active,
a:hover {
  outline: 0;
}
button,
select {
  text-transform: none;
}
body,
h1,
h2,
h3,
h4,
p,
ul,
figure {
  margin: 0;
  padding: 0;
}
p {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
}
ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  list-style: none;
}
h1,
h2,
h3,
h4 {
  font-size: inherit;
  font-weight: inherit;
}
html {
  box-sizing: border-box;
  background-color: #fefefe;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
img,
video {
  max-width: 100%;
  max-height: 100%;
}
canvas,
img {
  vertical-align: middle;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
/* inherit font & color from ancestor */
  color: inherit;
  font: inherit;
/* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;
/* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
/* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  outline: none;
}
body {
  color: #202020;
  font-size: 19px;
  font-family: 'Druk Text Web';
  line-height: 1.4;
  text-rendering: geometricPrecision;
}
@media (min-width: 40em) {
  body {
  font-size: 22px;
  }
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-Bold-Web.eot");
  src: url("/fonts/DrukText-Bold-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/DrukText-Bold-Web.woff2") format('woff2'), url("/fonts/DrukText-Bold-Web.woff") format('woff');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-Medium-Web.woff2") format('woff2'), url("/fonts/DrukText-Medium-Web.woff") format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}
@font-face {
  font-family: 'Druk Text Web';
  src: url("/fonts/DrukText-MediumItalic-Web.woff2") format('woff2'), url("/fonts/DrukText-MediumItalic-Web.woff") format('woff');
  font-weight: 500;
  font-style: italic;
  font-stretch: normal;
}
.wrapper {
  margin: 0 auto;
  padding-left: 26.6px;
  padding-right: 26.6px;
  max-width: 1200px;
}
@media (min-width: 40em) {
  .wrapper {
  padding-right: 30.8px;
  }
}
@media (min-width: 40em) {
  .wrapper {
  padding-left: 30.8px;
  }
}
.text-wrapper {
  max-width: 47rem;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-column-gap: 26.6px;
  grid-row-gap: 26.6px;
}
@media (min-width: 40em) {
  .grid {
  grid-row-gap: 30.8px;
  }
}
@media (min-width: 40em) {
  .grid {
  grid-column-gap: 30.8px;
  }
}
.card {
  padding: 26.6px 13.3px;
}
@media (min-width: 40em) {
  .card {
  padding: 26.6px 13.3px;
  }
}
@media (min-width: 40em) {
  .card {
  padding: 26.6px 13.3px;
  }
}
.card-section + .card-section {
  margin-top: 26.6px;
}
@media (min-width: 40em) {
  .card-section + .card-section {
  margin-top: 30.8px;
  }
}
.card-title {
  margin-bottom: 13.3px;
}
@media (min-width: 40em) {
  .card-title {
  margin-bottom: 15.4px;
  }
}
@media (min-width: 980px) {
  .text-plus {
    display: flex;
  }
}
.text-plus-text {
  margin: 26.6px 0 0 0;
}
@media (min-width: 40em) {
  .text-plus-text {
  margin: 30.8px 0 0 0;
  }
}
@media (min-width: 980px) {
  .text-plus-text {
    margin: 0 26.6px 0 0;
  }
  @media (min-width: 40em) {
    .text-plus-text {
    margin: 0 30.8px 0 0;
    }
  }
}
.text-plus-plus {
  align-self: left;
}
@media (min-width: 980px) {
  .plus-text {
    display: flex;
  }
}
.plus-text-text {
  margin: 26.6px 0 0 0;
}
@media (min-width: 40em) {
  .plus-text-text {
  margin: 30.8px 0 0 0;
  }
}
@media (min-width: 980px) {
  .plus-text-text {
    margin: 0 0 0 26.6px;
  }
  @media (min-width: 40em) {
    .plus-text-text {
    margin: 0 0 0 30.8px;
    }
  }
}
.plus-text-plus {
  align-self: left;
}
.spaced-paragraphs p+p {
  margin-top: 13.3px;
}
@media (min-width: 40em) {
  .spaced-paragraphs p+p {
  margin-top: 15.4px;
  }
}
.indented-paragraphs p+p {
  text-indent: 26.6px;
}
@media (min-width: 40em) {
  .indented-paragraphs p+p {
  text-indent: 30.8px;
  }
}
.colored-links a {
  color: primary-color;
}
.colored-links a:hover {
  text-decoration: underline;
}
.underline-on-hover:hover {
  text-decoration: underline;
}
.arrow-list {
  list-style: none;
}
.arrow-list li {
  display: flex;
}
.arrow-list li:before {
  content: '\2192 \a0';
}
.default-definition-list dt {
  display: inline;
  font-weight: bold;
}
.default-definition-list dt::after {
  content: ':';
}
.default-definition-list dd {
  display: inline;
  margin-left: 26.6px;
  width: 100%;
}
@media (min-width: 40em) {
  .default-definition-list dd {
  margin-left: 30.8px;
  }
}
.default-definition-list dd::after {
  content: '\A';
  white-space: pre;
}
body {
  padding-bottom: 53.2px;
}
@media (min-width: 40em) {
  body {
  padding-bottom: 61.6px;
  }
}
#site-header {
  height: 100vh;
  padding-top: 20vh;
  text-align: center;
}
#site-title {
  text-align: center;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 39.3984px;
  text-align: center;
  line-height: 1.1;
  font-family: 'Inconsolata';
  font-style: italic;
  color: #fff;
  background: #202020;
  padding: 6.65px;
  padding-right: 13.3px !important;
}
@media (min-width: 40em) {
  #site-title {
  padding-right: 15.4px !important;
  }
}
@media (min-width: 40em) {
  #site-title {
  padding: 7.7px;
  }
}
#subtitle {
  margin-top: 6.65px;
  text-align: center;
}
@media (min-width: 40em) {
  #subtitle {
  margin-top: 7.7px;
  }
}
#subtitle a {
  color: #ed5083;
}
#subtitle a:hover {
  text-decoration: underline;
}
#scroll {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 133px;
  text-align: center;
  font-style: italic;
}
@media (min-width: 40em) {
  #scroll {
  bottom: 154px;
  }
}
#arrow {
  font-size: 32.832px;
  text-align: center;
  margin-top: 40vh;
  color: #ed5083;
}
.truth {
  margin-top: 53.2px;
  padding: 26.6px 0;
  font-size: 47.27808px;
  text-transform: uppercase;
  line-height: 0.9;
  text-align: center;
}
@media (min-width: 40em) {
  .truth {
  padding: 30.8px 0;
  }
}
@media (min-width: 40em) {
  .truth {
  margin-top: 61.6px;
  }
}
.question {
  font-weight: bold;
  height: 100vh;
}
.answer {
  margin-top: 26.6px;
  font-size: 39.3984px;
  height: 100vh;
}
@media (min-width: 40em) {
  .answer {
  margin-top: 30.8px;
  }
}
